.container {
  padding-top:90px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column; /* Estrutura principal vertical */
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 130px)!important;
  
}

.card-container {
  width: 100%;
  max-width: 800px; /* Limite máximo de largura */
  padding: 2em;
  display: flex;
  flex-direction: column; /* Elementos internos organizados verticalmente */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

mat-card-header .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Espaçamento automático entre colunas */
  align-items: center; /* Centraliza os itens verticalmente */
  width: 100%;
}

mat-card-header .row .col-6 {
  flex: 1; /* Cada coluna ocupa o espaço proporcional disponível */
  text-align: left; /* Centraliza o conteúdo */
  padding: 0 1em;
}

mat-card-content {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens se empilhem em telas menores */
  justify-content: space-between; /* Distribui as listas uniformemente */
  gap: 1.5em; /* Espaçamento entre as listas */
}

.example-container {
  flex: 1 1 calc(50% - 1.5em); /* Ocupa 50% da largura menos o gap */
  min-width: 300px; /* Largura mínima para evitar itens muito pequenos */

  padding: 1em;
  box-sizing: border-box;
}

.example-list {
  display: flex;
  flex-direction: column; /* Organiza tarefas verticalmente */
  gap: 0.5em; /* Espaçamento entre as tarefas */
  min-height: 60px; /* Altura mínima */
  background: white;
  border: solid 1px #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  display: flex;
  justify-content: space-between; /* Alinha os elementos horizontalmente */
  align-items: center; /* Centraliza os elementos verticalmente */
  padding: 10px;
  background: white;
  border-bottom: solid 1px #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  cursor: grab;
}

.example-box:last-child {
  border-bottom: none; /* Remove a borda do último item */
}

.cdk-drag-preview {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.cdk-drag-placeholder {
  opacity: 0; /* Placeholder invisível durante a movimentação */
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
