
<mat-dialog-content class="mat-typography">
    <div >
        <h2>Nova Tarefa</h2>
        <form [formGroup]="taskForm" (ngSubmit)="save()">
            <mat-form-field style="display:block">
                <input matInput placeholder="Título" formControlName="title" />
                <mat-error *ngIf="taskForm.get('title')?.invalid">O título é obrigatório</mat-error>
            </mat-form-field>
            <div style="display:flex; justify-content: space-between">
                <button mat-raised-button color="primary" type="submit">Salvar</button>
                <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
            </div>
        </form>
    </div>
</mat-dialog-content>
